.card-container {
  width: 300px;
  height: 430px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 1px 10px 1px #000;
  margin: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upper-container {
  height: 150px;
  background: #7f00ff;
}

.low-container {
  height: 280px;
  background-color: coral;
}
